<div class='new-task-content'>
  <div class='new-task'>
  <%= form_with model: @task, local: true do |f|%>
    <div class='new-task-form'>
      タスクの追加
      <div class='new-task-title'>
        <%= f.label :title, 'タスク名' %><br />
        <%= f.text_field :title, class: 'new-task-title-form', placeholder: 'タスク名を入力してください'%>
      </div>
      <div class='new-task-text'>
        <%= f.label :text, 'タスク内容' %><br />
        <%= f.text_area :text, class: 'new-task-text-form', placeholder: 'タスク内容を入力してください'%>
      </div>
      <div class='new-task-date'>
        <%= f.label :date, '日時' %><br />
        <%= f.date_field :date %>
      </div>
      </div>
      <div class="actions">
        <%= f.submit "保存する", class: :form__btn  %>
      </div>
    </div>
  <% end %>
  </div>
</div>