<div class='wrapper'>
  <div class='left-side'>
    <div class='app-title'>タスク管理アプリ</div>
  </div>
  <div class='right-side'>
    <div class=new-task-btn>
      <%= link_to "新規投稿", new_task_path %>
    </div>
  </div>
</div>
<div class='content-wrapper'>
  <div class='side-menu'>
    <div class='tasks' >
    タスク一覧
    <% @tasks.each do |task| %>
      <div class='task'>
        <%=link_to task.title, task_path(task.id) %>
      </div>
    <% end %>
    </div>
  </div>
  <div class='main-task'>
    <div class='task-content'>
      <div class='task-date'>
        日付
        <%= @task.date %>
      </div>
      <div class='task-title'>
        タイトル
        <%= @task.title %>
      </div>
      <div class='task-text'>
        内容
        <%= @task.text %>
      </div>
    </div>
  </div>
  <div class='bottom-menu'>
    <div class='check-box'>
    </div>
    <div class='edit-btn'>
      <%= link_to "編集", '#' %>
    </div>
    <div class='delete-btn'>
      <%= link_to "削除"%>
    </div>
  </div>
</div>